.tasks{
    margin:10px 0px;
    height: 100%
}
.select{
    border:1px solid #bb0000;
}
.btnYellow{
    left: 70px;
}
.btnRed{
    left: 124px;
}
.btnStatus{
    left: 18px;
}
.btnStatus, .btnRed, .btnYellow{
    position: absolute;
    bottom: 10px;
}
