h1{
    color: red;
    margin: 5px 0px;
}
.btn-addItem{
    width: 90px;
    height: 36px;
    border: 0px;
    background: #280055;
    font-size: 16px;
    font-family: monospace;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}
.btn-resetList{
    width: 90px;
    height: 36px;
    border: 0px;
    background: red;
    font-size: 16px;
    font-family: monospace;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}
.btn-addItem:focus,
.btn-resetList:focus{
    outline: 0px;
}
.inputList{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    font-size: 16px;
    padding: 2px 10px;
}
.inputList:focus{
    outline: 1px;
}
.list{
    list-style: none;
    padding: 0px;
    margin: 5px 0px;
}
.items{
    font-size: 20px;
    font-family: sans-serif;
    width: 400px;
    background: #FFC107;
    margin-bottom: 2px;
    border: 1px solid black;
    padding: 5px;
}